<div class="container">
  <% @wikis.each do |wiki| %>
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2">
            <p><%= wiki.title %></p>
            <p><%= wiki.category %></p>
        </div>
        <br/>
        <%= link_to 'Show', wiki_path(wiki) %>
        <%= link_to 'Edit', edit_wiki_path(wiki) %>
        <%= link_to 'Delete', delete_wiki_path(wiki) %>
    </div>
  <% end %>
</div>
