
<%= form_for @wiki, url: wikis_path, method: :post, :html => {:class => "form-horizontal center"} do |f| %>
<% if @wiki.errors.any? %>
  <%= show_error_messages(f.object) %>
<% end %>
    <div class="container">
      <div class="form-group row">
        <%= f.label :title, "Title", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :body, "Body", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_area :body, class: "form-control" %>
        </div>
      </div>
      <div class="custom-select row">
        <%= f.label :category, "category", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.select :category, [['general'], ['education'], ['sports'], ['history'], ['science']] %>
        </div>
      </div>
      <div class="radio row">
        <%= f.label :private, "Private Wiki?", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.radio_button :private, 'yes', :checked => true %> Only for me!
          <br />
          <%= f.radio_button :private, 'no', :checked => false %> Share the knowledge!
        </div>
      </div>

      <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
    </div>
 <% end %>
