<div class='container wiki-container'>
  <h1><%= @wiki.title %></h2>
  <div class='row'>
    <div class='col-md-offset-8 text-center'>
      <%= button_to('Delete', wiki_path(@wiki), class: 'btn btn-danger delete-button', method: :delete) %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8'>
      <p><%= @wiki.body %></p>
    </div>
    <div class='col-md-4 sidebar'>
      <div class='category'>
        <h2>Category</h2>
        <p><%= @wiki.category %></p>
        <h4>Created at: </h4>
        <p><%= @wiki.created_at %></p>
        <h4>Updated at: </h4>
        <p><%= @wiki.updated_at %></p>
        <p class='test'>Hello there</p>
      </div>
    </div>
  </div>


</div>
