<!DOCTYPE html>
<html>
  <head>
    <title>Bloccipedia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<nav role="navigation" class="navbar navbar-inverse">
	    <div class="navbar-header">
	        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <%= link_to 'Bloccipedia', root_path, class: "navbar-brand" %>
	    </div>
	    <div id="navbarCollapse" class="collapse navbar-collapse">
	        <ul class="nav navbar-nav">
	            <li class="active"><%= link_to 'All Wikis', wikis_path %></li>
	            <li class="dropdown">
	                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Topics <b class="caret"></b></a>
	                <ul role="menu" class="dropdown-menu">
	                    <li><a href="#">Topic 1</a></li>
	                    <li><a href="#">Topic 2</a></li>
	                    <li><a href="#">Topic 3</a></li>
	                </ul>
	            </li>
	            <li class="dropdown">
	                <a data-toggle="dropdown" class="dropdown-toggle" href="#">My Profile <b class="caret"></b></a>
	                <ul role="menu" class="dropdown-menu">
	                    <li><a href="#">My Topics</a></li>
	                    <li><a href="#">My Articles</a></li>
                      <li><a href="/wikis/new">Create a Wiki<a></li>
	                	<br>
	                    <li><%= link_to 'Edit Profile', controller: 'devise/registrations', action: 'edit'%></a></li>
	                </ul>
	            </li>
	        </ul>
	        <ul class="nav navbar-nav navbar-right">
	        	<% if user_signed_in? %>
	            	<li><%= link_to('Sign Out', destroy_user_session_path, :method => 'delete') %></li>
	            <% else %>
	            	<li><%= link_to('Sign In', new_user_session_path) %></li>
	            <% end %>
	        </ul>
	    </div>
	</nav>
	<% if notice %>
	<div class='alert alert-success alert-dismissable'>
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<p><%= notice %></p>
	</div>
	<% end %>
	<% if alert %>
	<div class='alert alert-danger alert dismissable'>
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    	<p><%= alert %></p>
  </div>
    <% end %>

    <%= yield %>
  </body>
</html>
